Source: python-testlink
Section: python
Priority: optional
Maintainer: Gregory Eric Sanderson <gregory.eric.sanderson@gmail.com>
Uploaders: Gregory Eric Sanderson <gregory.eric.sanderson@gmail.com>
Build-Depends: debhelper (>= 8), dh-python, python-all (>= 2.6.6-3), python-setuptools
Standards-Version: 3.9.4
X-Python-Version: >= 2.6
Homepage: https://github.com/gelendir/pytestlink

Package: python-testlink
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Minimal library used for accessing a testlink database.
 Provides methods for listing tests that need to be executed in a test plan
 and generating a report on the tests that have been run.
